/**
OstrichCSS
by Jeremy Smith
**/

/**
Mobile
**/

@media screen and (min-width: 50em) {
  .desktop-menu {
    display: block;
  }
  .mobile-menu {
    display: none !important;
  }
}

@media screen and (max-width: 50em) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

/**
Resets
**/

html {
  font-size: calc(1em + 1vw);
}

@media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
}

@media screen and (min-width: 75em) {
  html {
    font-size: 1.5em;
  }
}

html {
  font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: #fff;
  color: rgba(3, 27, 78, .7);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-kerning: auto;
}

a {
  background: transparent;
  color: var(--secondary);
  text-decoration: none;
  cursor: pointer;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

*+address,
*+blockquote,
*+dl,
*+fieldset,
*+figure,
*+ol,
*+p,
*+pre,
*+ul {
  margin-top: 16px;
}

address,
blockquote,
dl,
fieldset,
figure,
ol,
p,
pre,
ul {
  margin: 0 0 16px;
}

body,
html {
  margin: 0
}

svg:not(:root) {
  overflow: hidden;
}

video {
  height: auto;
  width: 100%
}

::selection {
  background: var(--primary);
  color: #fff;
  text-shadow: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

/**
Variables
**/

:root {
  --main-bg-color: #2e4be0;
  --primary: green;
  --secondary: blue;
  --primary-button-bg: linear-gradient(90deg, #0069ff, #1633ff);
  --primary-button-color: #fff;
  --secondary-button-bg: purple;
  --secondary-button-color: #fff;
  --paragraph-color: #444;
}

/**
  Typography
  **/

code {
  font-family: Monaco, Consolas, Lucida Console, monospace
}

:not(pre)>code,
:not(pre)>kbd,
:not(pre)>samp {
  font-size: 14px;
  font-family: Monaco, Consolas, Lucida Console, monospace;
  white-space: nowrap;
  padding: 0 2px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: #fafafa
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

h3,
h4 {
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 16px;
  text-transform: none;
  color: var(--primary);
}

p {
  line-height: 1.45;
  color: var(--paragraph-color);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5rem;
}

q {
  quotes: "“" "”";
}

.fancy-list ul {
  margin: 0.75em 0;
  padding: 0 1em;
  list-style: none;
}

.fancy-list li:before {
  /** Triangle List **/
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

/**
Layout and Structure
**/

.siteFrame {
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.siteFrame-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

/**
  Modifiers
  **/

.margin-top {
  margin-top: 0.5em;
}

.pad-XL {
  padding-top: 4em;
  padding-bottom: 4em;
}

.pad-bottom-2x {
  padding-bottom: 1em;
}

.big {
  width: 100%;
  height: auto
}

.full-width {
  width: 100%;
}

.vAlign {
  align-items: center;
  justify-content: center;
}

.removeList {
  list-style: none;
}

.Text-XXL {
  line-height: 1.17;
  letter-spacing: -2px;
}

.Text-XL {
  color: var(--primary);
  letter-spacing: -.9px;
  line-height: 1.44;
}

.Text-L {
  font-size: 1.125em;
}

.Text-regular {
  color: var(--paragraph-color);
  font-size: 1.25em;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .Text-regular {
    line-height: 1.6;
  }
}

.clearTop {
  margin-top: -1px;
}

.jcb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  box-pack: justify;
  justify-content: space-between;
}

.aic {
  -webkit-box-align: center;
  -ms-flex-align: center;
  box-align: center;
  align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.txt-center {
  text-align: center;
}

.ui-txtCenter {
  text-align: center !important;
}

.ui-Container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.ui-GridContainer>* {
  padding-left: 1em;
  padding-top: 1em;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.ui-GridContainer>* :last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .ui-Col-3 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .ui-Col-2 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .ui-Col-2-sm {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
}

.ui-u-flexDeepMatch>* {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.bui-u-flexDeepMatch>*>* {
  -ms-flex: none;
  flex: none;
  width: 100%;
}

.ui-GridContainer>* :last-child {
  margin-bottom: 0;
}

.ui-GridContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1em;
  margin-top: -1em;
  list-style: none;
}

.ui-Section-short {
  padding-bottom: 64px;
  padding-top: 64px;
}

.ui-Section :last-child {
  margin-bottom: 0;
}

.ui-Section {
  padding: 120px 0;
}

.whiteBackground {
  background: #fff;
}

.LineLength {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.LineLength-normal {
  max-width: 900px;
}

.LineLength-normal-big {
  max-width: 943px;
}

/**
Mobile Header
**/

.hamburger:focus {
  outline: none;
}

#logo {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  left: 50%;
  margin-left: -27px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.logo-link {
  display: block;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 3;
}

/**
Desktop Header/Menu
**/

@media (min-width: 768px) {
  .UnifiedNav {
    height: 90px;
  }
}

.UnifiedNav {
  -ms-flex-align: center;
  align-items: center;
  color: rgba(3, 27, 78, .7);
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
}

.UnifiedNav-list {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.UnifiedNav-link {
  text-decoration: none;
  white-space: nowrap;
  color: hsla(0, 0%, 100%, .7);
}

.UnifiedNav-link:hover {
  color: #fff;
}

.UnifiedNav-listItem {
  display: inline-block;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 24px;
  position: relative;
  font-size: 0.8em;
}

.UnifiedNav-listItem--extraSpace {
  margin-left: 64px;
}

.UnifiedNav-spaceRight {
  margin-right: auto;
}

.UnifiedNav-siteLogo {
  display: block;
  position: relative;
  top: -3px;
}

.UnifiedNav-logoSVG {
  fill: #fff;
}

.UnifiedNav-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--primary-button-bg);
  border-radius: 5px;
  color: var(--primary-button-bg);
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 12px 16px 12px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: background-color .25s linear, border-color .25s linear, color .25s linear;
  vertical-align: middle;
  white-space: nowrap;
}

.UnifiedNav-button--transparent {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid hsla(0, 0%, 100%, .5);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 12px 16px 12px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: background-color .25s linear, border-color .25s linear, color .25s linear;
  vertical-align: middle;
  white-space: nowrap;
}

.UnifiedNav-button--transparent:hover,
UnifiedNav-button--transparent:focus {
  background-color: hsla(0, 0%, 100%, .1);
}

/**
  Hero
  **/

@media (min-width: 2000px) {
  .hero {
    background-size: 101% !important;
  }
}

.hero {
  background: var(--main-bg-color);
  /* fallback for old browsers
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #2B32B2, #1488CC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url(../svg/citybgdark.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30rem;
}

.hero-content {
  margin: 0 auto;
  padding: 1.5em 1em;
}

.hero-title {
  color: #fff;
}

.hero-text {
  color: hsla(0, 0%, 100%, .8);
}

.hero-signupBox {
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid rgba(3, 27, 78, .1);
  box-shadow: 0 10px 20px rgba(3, 27, 78, .1);
  margin: 0;
  padding: 2em;
}

/**
Buttons and Interactions
**/

.ui-Button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  border: 0;
  overflow: visible;
  font: inherit;
  font-weight: bold;
  color: rgba(3, 27, 78, .7);
  text-transform: none;
  display: inline-block;
  padding: 0 32px;
  background: #ececec;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 5px;
  transition: all .25s cubic-bezier(.645, .045, .355, 1);
  line-height: 2.5em;
  height: 2.5em;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
}

.ui-Button-primary {
  background: var(--primary-button-bg);
  color: var(--primary-button-color);
}

.ui-Button-outline {
  background: transparent;
  border: 1px solid currentColor;
  position: relative;
  z-index: 2;
  border-color: rgba(3, 27, 78, .1);
  box-shadow: 0 1px 2px rgba(3, 27, 78, .06);
  color: #031b4e;
}

.ui-Button.is-active,
.ui-Button:focus,
.ui-Button:hover {
  color: rgba(3, 27, 78, .7);
  background: #dfdfdf;
}

.ui-Button-primary.is-active,
.ui-Button-primary:focus,
.ui-Button-primary:hover {
  background: linear-gradient(90deg, #0069ff, #0069ff);
  color: hsla(0, 0%, 100%, .9);
  color: #fff;
}

.ui-Button-outline.is-active,
.ui-Button-outline:focus,
.ui-Button-outline:hover {
  color: #fff;
  background-color: rgba(3, 27, 78, .7);
}

.ui-Button-IconRight .ui-Loader,
.ui-Button-IconRight svg {
  margin-right: 0;
  margin-left: 8px;
}

.ui-Icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  line-height: 1;
  position: relative;
  top: -1px;
  max-width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.ui-Icon-Large {
  width: 2em;
  height: 2em;
}

/**
UI Components [Cards]
**/

.ClickCard-itemContent {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.ClickCard-itemLink {
  margin-top: auto;
}

.ClickCard:hover {
  box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08), 0px 30px 25px 0px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}

.ClickCard {
  padding: 2em;
  min-height: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0px);
}

.ClickCard p {
  color: var(--paragraph-color);
}

/**
UI Components [ETC]
**/

.Rule-bold {
  background-color: #e5e8ed;
  border: 0;
  display: block;
  height: 0.25em;
  margin: 0 auto;
  width: 3.8em;
}

hr {
  box-sizing: content-box;
  height: 0;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid #e5e8ed;
}

@media (min-width: 768px) {
  .ui-Section--netBreak {
    background-size: 100%;
  }
}

.ui-Section--netBreak {
  background-image: url(../svg/linegraph.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 200%;
  padding-top: 171px;
}

/**
Form Styling Stuff
**/

input:not([type]),
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
  height: 3em;
  max-width: 100%;
  padding: 0 1em;
  border: 1px solid #f1f1f1;
  background: #fff;
  color: rgba(3, 27, 78, .7);
  transition: all .25s cubic-bezier(.645, .045, .355, 1);
  border-radius: 5px;
  width: 100%;
  position: relative;
}

input:not([type]),
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=url] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
textarea {
  margin: 0;
  border-radius: 0;
  font: inherit;
  font-size: 1em;
  color: inherit;
}

.formSpacing *+*, .formRow-spacing+.formRow-spacing {
  margin-top: 1em;
}

/**
Tooltips and Hints
**/

.Hint,
.Tooltip-hint {
  padding: 1px;
  background: #ececec;
  color: #999;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Hint:before,
.Tooltip-hint:before {
  content: "?";
  font-weight: 600;
  font-size: 0.8em;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.3rem;
  display: block;
}